name: myapp
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.8
  intl: ^0.20.2
  provider: ^6.0.0
  firebase_core: ^3.0.0
  go_router: ^14.0.0
  cloud_firestore: ^5.0.0
  google_fonts: ^6.0.0
  firebase_auth: ^5.0.0
  uuid: ^4.0.0
  table_calendar: ^3.0.0
  http: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
